body{
    margin:0px;
    padding:0px;
    background-color: white;
    

}

header  {
        font-family:bebas Neue;
          width:100%;
         height:10%;
        background-color: #152850;
    z-index: 999999;
    position: fixed;
    padding-top: 25px;

}


.fill-top  ul li a  {
    
    text-decoration: none;
    color: #c2c9d3;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    padding:30px 50px;
    font-size:24px;
   
    
}

.logo   {position: fixed;
        left:15%;
}

.fill-top li{display: inline-block;
    font-size:30px;
    position: relative;
    left: 10%;
    
}

.fill-top a:hover  {
            background-color: #112041;
            border-radius: 10px;
            cursor: pointer;
           
}

.fill-top ul    {
list-style-type: none;
float: left;
}


.content    {background: #27496e;
            width: 75%;
            height: 105%;
            position: relative;
            top: 0%;
            left:12%;
            margin-top:-30px;
}

.content h1{
    color:#c2c9d3;
    padding-left: 35px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top:20%;
    font-weight: 500;
    font-size: 35px;
}

.content h2{
    color:#c2c9d3;
    padding-left: 35px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: 500;

}

.content input[type=submit]{
    border-radius: 10px;
    width:150px;
    height:80px;
    margin-left:18%;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 500;
    background-color: #152850;
    color:#c2c9d3;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 3px solid #27496e;
    
}

.content input[type=submit]:hover{
    background-color:#112041;
    cursor: pointer;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

img {height: 92%;
    width: 570px;
    position: absolute;
    left: 51%;
    top: 8%;
}

.copyright  {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 500px;
            background-color:#3f648c;
            text-align: center;
            position:absolute;
            width: 100%;
            color: #c2c9d3;
}

.copyright a{
    
    list-style: none;
    text-decoration: none;
    color: #c2c9d3;
}